@import '../../consts/variables';
.container {
  @extend %flexColumn;
  margin-left: 32px;
}
.selectProject {
  @extend %flexRow;
  margin-top: 15px;
}
.default {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: $defaultGrayText;
  margin-top: 40px;
}