{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/react"
  ],

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },

  "plugins": ["react", "jsx-a11y", "import", "prettier", "jest"],

  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/first": "error",
    "import/newline-after-import": "error",
    "react/jsx-props-no-spreading": "off",
    "max-len": ["error", { "code": 120 }],
    "react/prop-types": "off",
    "indent": ["error", 2],
    "quotes": [2, "single", "avoid-escape"],
    "jsx-quotes": [2, "prefer-single"],
    "no-param-reassign": ["error", { "props": false }],
    "no-console": "warn",
    "curly": ["error", "all"],
    "semi": [2, "always"],
    "no-tabs": 0,
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "no-empty-function": [
      "error",
      {
        "allow": ["arrowFunctions", "functions", "methods"]
      }
    ],
    "no-alert": "warn",
    "no-empty-pattern": "error",
    "no-magic-numbers": [
      "off",
      {
        "ignore": [],
        "ignoreArrayIndexes": true,
        "enforceConst": true,
        "detectObjects": false
      }
    ],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "no-duplicate-imports": "off",
    "no-var": "error",
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "prefer-spread": "error",
    "sort-imports": [
      "off",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    "array-bracket-newline": ["off", "consistent"],
    "object-curly-spacing": ["error", "always"]
  },

  "settings": {
    "react": { "version": "detect" },
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
