header {
  & > div {
    transition: all 1s ease;
    span {
      transition: all .7s ease;
      opacity: 1;
      transform: translateX(0);
      width: max-content;
    }
    &.moved {
      flex: 0;
      span {
        transform: translateX(-50px);
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }
    }
  }
}
main {
  position: relative;
  display: flex;
  justify-content: space-between;
  .main_content_container {
    flex: 0 0 81%;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s ease;
    &.moved {
      flex: 0 0 94% !important;
    }
  }
}
aside {
  transition: all 1s ease;
  span, h4 {
    transition: all .5s ease;
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    width: max-content;
  }
  &.moved {
    flex: 0;
    span, h4 {
      transform: translateX(-50px);
      visibility: hidden;
      opacity: 0;
      position: absolute;
    }
    a {
      justify-content: center;
    }
    img {
      margin: 0 !important;
    }
  }
}