@import '../consts/variables.scss';

html, body, #root {
  height: 100%;
}
#root {
  @extend %flexColumn;
}
.top {
  flex: 1 0 auto;
  margin-bottom: 40px;
  header {
    height: $headerHeight;
    & > div {
      transition: all .6s ease;
      span {
        transition: all .2s ease;
        opacity: 1;
        transform: translateX(0);
        width: max-content;
      }
      &.moved {
        flex: 0;
        span {
          transform: translateX(-50px);
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }
  .main__wrapper {
    position: relative;
    display: flex;
    height: calc(100% - $headerHeight - $headerMarginBottom);
    .main_content_container {
      width: 100%;
      background: #fff;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      transition: all .6s ease;
      &.moved {
        flex: 0 0 94% !important;
      }
    }
  }
  aside {
    transition: all .6s ease;
    span, h4 {
      transition: all .2s ease;
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
      width: max-content;
    }
    &.moved {
      flex: 0;
      span, h4 {
        transform: translateX(-50px);
        visibility: hidden;
        opacity: 0;
        position: absolute;
      }
      a {
        justify-content: center;
      }
      img {
        margin: 0 !important;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .top {
    aside {
      display: none;
    }
  }
}