$fontLight: #E5E5E5;
$fontDark: #2b2a3f;
$mainColor: #7973d7; 

section{
    padding-bottom: 2%;
    div.client_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 25px;
        box-shadow: 10px 10px 20px $fontLight, -10px -10px 20px $fontLight;
        margin-top: 20px;
        padding: 10px 20px;
        div.client_icon{
            color: $mainColor;
            display: flex;
            p{
                color: $mainColor;
            }
            h4{
                margin: 0;
                padding-left: 10px;
            }
        }
        p{
            margin: 0;
            color: $fontDark;
            font-style: 16px;
            line-height: 28px;
            font-weight: 700;
        }
    }
}

