@import '../../../../consts/variables.scss';

.addItems {
  padding-bottom: 50px;

  &__title {
    @include headerTitle;
  }

  &__blockInput {
    width: 100%;
  }
  .addItemButton{
    text-decoration: none;
    color: white;
  }
}