@import './variables.scss';

.authorization {
  width: 100%;
  font-weight: bold;
  @include flex($flexDirection: row);

  &__title {
    width: 100%;
    margin-top: 10vh;
    text-align: center;

    & > h1 {
      text-transform: uppercase;
      color: $purple;
      font-size: 48px;
    }
    & > p {
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  &__mainContent {
    width: 100%;
    margin-top: 4rem;
    @include flex;

    .logo {
      width: 50%;
      height: 100%;
      text-align: center;
      & > img {
        height: 100%;
        width: 80%;
      }
    }
    .authorizationBox {
      width: 50%;
      height: 100%;
      text-align: center;

      .dataInputFields {
        background-color: $bgCard;
        height: 100%;
        width: 80%;
        margin: auto;
        border-radius: 50px;
        box-shadow: $authShadow;
        padding: 16px 0;
        @include flex($flexDirection: column);
        justify-content: center;

        .nameOfPageLogin,
        .nameOfPageRegistration {
          @include pStyle;
          letter-spacing: 1px;
        }
        .authorizationForm {
          @include flex($flexDirection: column);
          & > a {
            color: $purple;
            margin-top: 25px;
            font-size: 14px;
            text-decoration: underline;
          }
          .orWord {
            color: $gray;
            font-size: 15px;
            margin: 20px 0;
          }
          .existAccount {
            color: $gray;
            font-size: 14px;

            & > a {
              color: $purple;
              margin-left: 10px;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &__bottomCText {
    @extend %bottomText;
  }
}

@media screen and (max-width: 600px) {
  .authorization {
    &__mainContent {
      .logo,
      .authorizationBox {
        width: 100%;
        height: 50%;
      }
    }
  }
}
