.textBlock {
	p {
		font-weight: 200;
		font-size: 12px;
		margin-top: -15px;
		color: red;
	}
}
.validBlock {
	font-size: 15px;
	font-weight: 200;
	color: red;
	text-transform: none;
	margin-top: 20px;
}
.error {
	color: red;
}
