$fontDark: #21143e;
$bgCard: white;
$fontLight: #e5e5e5;
$pageBgClr: #f3f5f4;
$purple: #7771d4;
$darkPurple: #645fb5;
$gray: #93939d;

$tableColor: #f1f3f2;
$itemTableClr: #564e45;
$tableBorder: #eee6e7;

$rejectTxt: #ff0606;
$appliedTxt: #2ab957;
$pendingTxt: #495dc1;

$pendingBg: #d6d4fd;
$rejectBg: #fff1ee;
$appliedBg: #f3fdee;

$bottomTextColor: #CCCCCC;

$boxBgShadow: 3px 4px 50px 5px rgba(0, 0, 0, 0.05);
$blockShadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
$innerShadow: inset 0px 3px 10px rgba(0, 0, 0, 0.25);
$innerDescShadow: inset 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
$iconBgShadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

%baseFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexAlign {
  display: flex;
  align-items: center;
}

%bottomText {
  color: $bottomTextColor;
  font-style: normal;
  font-size: 10px;
  width: 205px;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

%marginTopLeftItem{
  margin-top: 30px;
  margin-left: 30px;
}

@mixin fontStyleItem($fontSize: 32px) {
  font-weight: 700;
  font-size: $fontSize; 
}

@mixin pElementItem($textAlign: left) {
  text-align: $textAlign;
  margin-bottom: 5px;
  font-weight: bold;
}

@mixin labelMargin($marginTop) {
  margin-top: $marginTop;
  margin-bottom: 5px; 
}

@mixin pStyle($paddingTop) {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: $purple;
  font-size: 25px;
  font-weight: bold;
  padding-top: $paddingTop;
}

@mixin headerTitle($fontSize: 32px) {
  font-size: $fontSize;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: $fontDark;
}

@mixin brdrRadShadow {
  box-shadow: $blockShadow;
  border-radius: 25px;
}

@mixin fonts($fntSize, $fntWeight: 400) {
  font-size: $fntSize;
  font-weight: $fntWeight;
}

@mixin itemStatus($txtClr, $bgClr) {
  display: inline-block;
  border-radius: 5px;
  width: 100px;
  color: $txtClr;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
  background-color: $bgClr;
}

@mixin textField {
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid $purple;
  padding-left: 16px;
  min-width: 150px;
  &:focus {
    outline: 1px solid $darkPurple;
    color: $darkPurple;
  }
}

@mixin textArea {
  outline: none;
  resize: vertical;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 16px;
  border: 2px solid $purple;
  min-height: 150px;
  height: auto;
  border-radius: 10px;
  min-width: 150px;
}

@mixin submitMsg($colorMsg, $bgClr) {
  color: $colorMsg;
  font-weight: medium;
  background-color: $bgClr;
  padding: 5px 10px;
  margin-left: 16px;
  border-radius: 5px;
}