$fontLight: #E5E5E5;
$fontDark: #2b2a3f;
$fontColor: #7973d7; 
$submitedColor: #2AB957;
$error: #FF0606;
$tableColor: #F1F3F2;

section{
    padding: 0;
    div.bg_exist_items{
            h2{
            color: $fontDark;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 50px;
            }
        }
        div.exist_items_table{
            table.table_items{
                width: 1000px;
                border-collapse: collapse;
                thead{
                    tr{
                        th{
                            text-align: left;
                            span{
                                color: $fontDark;
                                font-size: 16px;
                                text-align: left;
                            }
                        }
                    }
                }
                tbody{    
                    tr{
                        color: $fontDark;
                        font-size: 16px;
                        td{
                            div.id_field{
                                background-color: $fontColor;
                                color: $fontLight;
                                width: 50px;
                                height: 50px;
                                border-radius: 10px;
                                font-weight: 700;  
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 10px 0;
                            }
                            a{
                                span.icon_cancel{
                                    color: $error;
                                    padding-right: 10px;
                                }
                            }
                        }
                        td.cancel{
                            text-align: right;
                        }
                    }
                    tr:nth-child(even){
                        background-color: $tableColor;
                    }

                }
            }            
        }   
}
