@import '../variables.scss';

.authorization {
  width: 100%;
  font-weight: bold;
  @include flex($flexDirection: row);

  &__title {
    width: 100%;
    margin-top: 5vh;
    text-align: center;

    & > h1 {
      text-transform: uppercase;
      color: $purple;
      font-size: 48px;
    }

    & > p {
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  &__mainContent {
    width: 100%;
    margin-top: 7vh;
    @include flex;

    .logo {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      & > img {
        width: 90%;
      }
    }
    
    .authorizationBox {
      width: 50%;
      height: 100%;
      text-align: center;

      .dataInputFields {
        background-color: $bgCard;
        height: 100%;
        width: 80%;
        margin: auto;
        border-radius: 50px;
        box-shadow: $authShadow;
        padding: 16px 0;
        @include flex($flexDirection: column);
        justify-content: center;

        .titleForm {
          @include pStyle;
          letter-spacing: 1px;
        }

        .authorizationForm {
          @include flex($flexDirection: column);

          & > a {
            color: $purple;
            margin-top: 25px;
            font-size: 14px;
            text-decoration: underline;

            &:hover {
              color: $darkPurple;
              transition: all .25s
            }
          }

          .orWord {
            color: $gray;
            font-size: 14px;
            margin: 10px 0 20px 0;
          }

          .existAccount,
          .dontHaveAccount {
            color: $gray;
            font-size: 14px;

            & > a {
              color: $purple;
              margin-left: 10px;
              text-decoration: underline;

              &:hover {
                color: $darkPurple;
                transition: all .25s
              }
            }
          }

          .dontHaveAccount {
            margin: 25px 0 10px 0;
          }
        }
      }
    }
  }

  &__bottomCText {
    @extend %bottomText;
  }
}

@media screen and (max-width: 600px) {
  .authorization {
    
    &__title {

      & > h1 {
        font-size: 32px;
      }
  
      & > p {
        font-size: 16px;
      }
    }
    &__mainContent {
      margin-top: 2rem;

      .logo {
        display: none;
      }

      .authorizationBox {
        width: 100%;

        .dataInputFields {
          border-radius: 10px;
          width: 90%;
          min-width: 200px;
          max-width: 450px;

          .titleForm {
            @include pStyle($fontSize: 24px);
          }

          .authorizationForm {

            & > a {
              font-size: 12px;
            }

            .existAccount,
            .dontHaveAccount {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
