$fontLight: #e5e5e5;
$fontDark: #21143e;
$boxShadowBg: 3px 4px 50px 5px rgba(0, 0, 0, 0.05);
$blockShadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
$bgCard: white;

.board {
  background: #f3f5f4;
  width: 100%;

  &__projectBlock {
    background-color: $bgCard;
    margin: 0;
    padding: 32px 40px;
    border-radius: 30px 0 0 30px;
    margin-bottom: 32px;
    box-shadow: $boxShadowBg;
    min-height: 100vh;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__projectTitle {
    color: $fontDark;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 100px;
  }

  &__projectData,
  &__diagram {
    display: flex;
  }

  &__block {
    width: 50%;
    margin-right: 32px;
  }

  &__diagram {
    width: 50%;
    background: $bgCard;
    box-shadow: $blockShadow;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
  }
}
