.title {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}
.list {
  list-style: none;
  padding: 20px;
}
.list_head {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  & > div {
    width: 16.6%;
    text-align: center;
  }
}
.container {
  padding-bottom: 20px;
}