.item {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7872d6;
  font-weight: 500;
  &:hover {
    background-color: #7972d61c;
    cursor: pointer;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:nth-child(even) {
    background: #f3f5f4;
  }
  & > div {
    width: 16.6%;
    text-align: center;
  }
}
.id {
  background: #7872d6;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
}