@import '../../../consts/variables';

.customersList_title{
        @extend %baseFlex;
        flex-direction: column;
        font-size: 32px;
        font-weight: 700;
        margin: 32px 0 17px 0;
        margin-bottom: 31px;
}

.customers_search_input{
    margin: 0 0 15px 43px;

    .search_input{
        width: 300px;
        height: 45px;
        border: 2px solid $purple;
        box-sizing: border-box;
        border-radius: 10px;
        color: $defaultGrayText;
        font-size: 14px;
        padding: 5px;
        cursor: pointer;
    }
    .search_input:focus{
        outline: 0;
        outline-offset: 0;
    }
}
.customersList{
    margin-left: 43px;
}
