@import '../../../../consts/variables.scss';

.diagram {
  @extend %baseFlex;
  flex-direction: column;

  &__title {
    @include fonts($fntSize: 24px, $fntWeight: 700);
    color: $fontDark;
    margin-top: 14px;
  }

  img {
    width: 85%;
    margin-bottom: 32px;
  }
}
