@import '../../consts/variables.scss';
@import url('https://cdn.syncfusion.com/ej2/material.css');

.content{
    width: 100%;
    margin: auto;
    &__stuffing{
        height: 100%;
        width: 80%;
        margin: auto;
        padding: 32px;
        & > h1{
            @include fonts($fntSize: 32px, $fntWeight: 700);
            color: $fontDark;
            text-align: center;
        }
        .mainForm{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .inputTextfield{
                width: 48%;
                font-weight: 700;
                text-transform: uppercase;
                color: $fontDark;
                font-size: 14px;
                .label{
                    @include labelMargin($marginTop: 30px);
                }
                .Ñalendar{
                    width: 100%;
                }
                .textAreaLabel{
                    @include labelMargin($marginTop: 15px);
                }
                & > textarea{
                    box-sizing: border-box;
                    outline: none;
                    resize: vertical;
                    font-family: 'Roboto';
                    font-size: 16px;
                    padding: 16px;
                    border: 1px solid $purple;
                    min-height: 100px;
                    min-width: 208.5%;
                    height: auto;
                    border-radius: 5px;
                    &::placeholder{
                        color: #a3a3a3;
                        font-weight: normal;
                    }
                    &:focus{
                        border: 2px solid #645fb5;
                        padding: 15px;
                    }
                }
            }
            .inputWithMarginRight{
                margin-right: 4%;
            }
            .button{
                width: 100%;
                .saveButton{
                    height: 30px;
                    width: 150px;
                    background-color: $purple;
                    text-align: center;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    position: relative;
                    font-size: 10px;
                    font-weight: bold;
                    margin-top: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .content{
        &__stuffing{
            width: 100%;
            .mainForm{
                flex-direction: column;
                .inputTextfield{
                    width: 100%;
                }
            }
        }
    }
}