@import '../../consts/variables.scss';

.reset{
  margin: 0;
  padding: 0;
  text-align: center;
  &__title {
    width: 100%;
    height: 15%;
    margin-top: 5%;
    text-align: center;
    & > h1 {
      text-transform: uppercase;
      color: $purple;
      margin: auto;
      height: 70px;
      font-weight: bold;
      border-radius: nullpx;
      font-size: 48px;
      margin-bottom: -10px;
    }
    & > p {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      margin-top: 0;
    }
  }

.mainBox {
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .dataInputFields {
      background-color: #fff;
      height: 100%;
      width: 100%;
      margin: auto;
      border-radius: 50px;
      position: relative;
      box-shadow: $boxBgShadow;
      @include flex($flexDirection: column);
      justify-content: center;
      .savedBack{
        background-color:#EDF7ED;        
        position: absolute; 
        width: 100%;
        height: 48px;
        text-align: left;
        padding-left: 35px;
        padding-top: 15px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        top: 0px;
        .savedText {
          display:inline-block;
          color: #098707;
          font-size: 16px;
          margin-left: 5px;
        }
      }
      .logoCircle {
        margin-top: -10%;
      }
      .nameOfBox {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 36px;
        font-weight: 700;
      }
      .requirementsText {
        font-size: 14px;
        margin-bottom: 0;
      }
      .mainForm {
          @include flex($flexDirection: column);
      }
    }
  }
  .bottomCText {
    @extend %bottomText;
    & > img {
        margin-right: 5px;
        height: 13px;
        float: left;
    }
    & > span {
        float: left;
    }
  }       
}
