@import '../../../../consts/variables.scss';

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: $blockShadow;
  color: $fontDark;

  &__title {
    margin-top: 16px;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    padding: 16px 20px;
    text-align: justify;
    text-indent: 24px;
  }
}
