.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.rotate {
  width: 150px;
  animation: rotate 5s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}